plugins
node_modules
.zcompdump*
.DS_Store
plugged
.undodir

mac/karabiner/.config/karabiner/automatic_backups/
lvim/.config/lvim/plugin/packer_compiled.lua
lazygit/Library/Application Support/lazygit/state.yml

cmus/.config/cmus/cache

npm/.config/npm-global/bin
npm/.config/npm-global/lib

nvim/.config/nvim/.netrwhist

mpv/.config/mpv/watch_later*

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

cmus/.config/cmus/*
!cmus/.config/cmus/autosave

mpv/.config/mpv/scripts/run.sh
mpv/.config/mpv/scripts/time_pairs.txt

lazygit/.config/jesseduffield/lazygit/state.yml
coc/.config/coc/memos.json
coc/.config/coc/commands
coc/.config/coc/extensions
coc/.config/coc/snippets-mru
coc/.config/coc/memos.json
coc/.config/coc/list-explorerFiles-history.json
coc/.config/coc/extensions/db.json
coc/.config/coc/extensions/db.json

mac/gobang/.config/gobang/config.toml
mac/lvim/.config/lvim/plugin/packer_compiled.lua
mac/lazygit/Library/Application Support/lazygit/state.yml

mac/lvim/.config/lvim/ignore

mac/mpv/.config/mpv/scripts/time_pairs.txt
mac/lvim/.config/lvim/session
mac/lvim/.config/lvim/databases
