plugins
node_modules
.zcompdump*
plugged
.undodir
cmus/.config/cmus/cache

nvim/.config/nvim/.netrwhist

mpv/.config/mpv/watch_later*

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

cmus/.config/cmus/*
!cmus/.config/cmus/autosave

mpv/.config/mpv/scripts/run.sh
mpv/.config/mpv/scripts/time_pairs.txt

lazygit/.config/jesseduffield/lazygit/state.yml