plugins
node_modules
.zcompdump*
plugged
.undodir

cmus/.config/cmus/cache

npm/.config/npm-global/bin
npm/.config/npm-global/lib

nvim/.config/nvim/.netrwhist

mpv/.config/mpv/watch_later*

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

cmus/.config/cmus/*
!cmus/.config/cmus/autosave

mpv/.config/mpv/scripts/run.sh
mpv/.config/mpv/scripts/time_pairs.txt

lazygit/.config/jesseduffield/lazygit/state.yml
coc/.config/coc/memos.json
coc/.config/coc/commands
coc/.config/coc/extensions
coc/.config/coc/snippets-mru
coc/.config/coc/memos.json
coc/.config/coc/list-explorerFiles-history.json
coc/.config/coc/extensions/db.json
coc/.config/coc/extensions/db.json