[user]
	email = ybridi@gmail.com
	name = Yassine Bridi

[core]
	editor = nvim

[push]
	default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[diff]
  external = difft
