!! Transparency (0-1):
*.alpha: 0.95

!!! Set a default font and font size as below:
*.font:Jetbrains Mono:size=11

! Dracula Xresources palette
*.foreground:   #F8F8F2 
*.background:   #070825
*.color0:       #3B4252
*.color1:       #cc4e5a
*.color2:       #94c26d
*.color3:       #5b5c80
*.color4:       #8556e3
*.color5:       #FF79C6
*.color6:       #6bbed6
*.color7:       #E5E9F0
*.color8:       #4D4D4D
*.color9:       #cc4e5a
*.color10:      #94c26d
*.color11:      #e3e3e3
*.color12:      #8556e3
*.color13:      #FF92D0
*.color14:      #6bbed6
*.color15:      #E6E6E6
*.cursorColor:  #FF00FF
