default_shell "zsh"
// pane_frames false

// theme "catppuccin-mocha"
// theme "dracula"

keybinds {
  normal {
    bind "Alt o" {
      Run "zellij" "run" "-c" "-f" "--height" "90%" "--width" "90%" "-x" "5%" "-y" "10%" "--" "lazygit" {
          close_on_exit true
          floating true
      }
    }
    bind "Alt i" {
      Run "zellij" "run" "-c" "-f" "--height" "90%" "--width" "90%" "-x" "5%" "-y" "10%" "--" "k9s" {
          close_on_exit true
          floating true
      }
    }
  }

  locked {
    bind "Alt g" { SwitchToMode "Normal"; }
  }

  move {
    bind "Alt m" { SwitchToMode "Normal"; }
  }

  pane {
    bind "Alt p" { SwitchToMode "Normal"; }
  }

  resize {
    bind "Alt z" { SwitchToMode "Normal"; }
  }

  scroll {
    bind "Alt s" { SwitchToMode "Normal"; }
    bind "c" { Clear; }
  }

  session {
      bind "Alt w" { SwitchToMode "Normal"; }
      bind "Alt s" { SwitchToMode "Scroll"; }
      bind "d" { Detach; }
      bind "w" {
          LaunchOrFocusPlugin "session-manager" {
              floating true
              move_to_focused_tab true
          };
          SwitchToMode "Normal"
      }
  }
   
  tab {
    bind "Alt t" { SwitchToMode "Normal"; }
    bind "Alt h" {
        MoveTab "Left"
    }
    bind "Alt l" {
        MoveTab "Right"
    }

  }

  shared_except "locked" {
    unbind "Ctrl h" // was Move, now Alt-v
    unbind "Ctrl o" // was Session, now Alt-w
    unbind "Ctrl s" // was Scroll, now Alt-s
    unbind "Ctrl n" // was Resize, now Alt-z
    unbind "Ctrl p" // was Pane, now Alt-a
    unbind "Ctrl t" // was Tab, now Alt-b
    unbind "Ctrl g" // was Locked, now Alt-g
    unbind "Ctrl q" // was Quit, now Alt-q
    bind "Alt g" { SwitchToMode "locked"; }
    bind "Alt q" { Quit; }
    bind "Alt t" { NewTab; }
    bind "Alt d" { NewPane "down";}
    bind "Alt r" { NewPane "right"; }
    bind "Alt f" { ToggleFloatingPanes; }
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
    bind "Alt 0" { GoToTab 10; }
  }

  shared_among "search" "scroll" {
      bind "g" {
          ScrollToTop
      }
      bind "G" {
        ScrollToBottom
      }
  }
  shared_except "move" "locked" {
    bind "Alt m" { SwitchToMode "move"; }
  }

  shared_except "pane" "locked" {
    bind "Alt p" { SwitchToMode "pane"; }
  }

  shared_except "resize" "locked" {
    bind "Alt z" { SwitchToMode "resize"; }
  }

  shared_except "scroll" "locked" {
    bind "Alt s" { SwitchToMode "scroll"; }
  }

  shared_except "session" "locked" {
    bind "Alt w" { SwitchToMode "session"; }
  }

  shared_except "tab" "locked" {
    bind "Alt t" { SwitchToMode "tab"; }
  }
}
